* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    height: 60px;
    background-color: rgb(161, 85, 161);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}
